@charset "UTF-8";
/**
 * @description: 项目公用样式
 * @author: chenshaoting (16/05/26)
 * @update:
*/
/**
 * @description: 项目变量定义
 * @author: chenshaoting (16/07/27)
 * @update:
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 625%;
  height: 100%; }

body {
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 1.5;
  color: #3a3a3a;
  background-color: #ffffff;
  min-height: 100%;
  padding-bottom: 20px; }

details,
summary {
  display: block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  color: #2b89ea; }
  a:active {
    outline: 0; }

b,
strong {
  font-weight: normal; }

i,
em {
  font-style: normal; }

small {
  font-size: 80%; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input,
select,
textarea {
  outline: 0; }

textarea {
  -webkit-user-modify: read-write-plaintext-only; }

/*input {
  -webkit-user-modify: read-write-plaintext-only;
}*/
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999; }

.placeholder {
  color: #999999; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  font-weight: normal; }

* {
  box-sizing: border-box; }

/**
 * @description: clear
 */
.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1479196361500");
  /* IE9*/
  src: url("iconfont.eot?t=1479196361500#iefix") format("embedded-opentype"), url("iconfont.woff?t=1479196361500") format("woff"), url("iconfont.ttf?t=1479196361500") format("truetype"), url("iconfont.svg?t=1479196361500#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-triangle-down:before {
  content: "\e610"; }

.icon-time:before {
  content: "\e618"; }

.icon-tianjia:before {
  content: "\e601"; }

.icon-minus:before {
  content: "\e64b"; }

.icon-chexiao:before {
  content: "\e624"; }

.icon-arrow121112:before {
  content: "\e640"; }

.icon-xiazai:before {
  content: "\e61c"; }

.icon-shou:before {
  content: "\e634"; }

.icon-xiayiye:before {
  content: "\e612"; }

.icon-jihuo:before {
  content: "\e630"; }

.icon-jiantou:before {
  content: "\e607"; }

.icon-shou01:before {
  content: "\e633"; }

.icon-fuxuankuang:before {
  content: "\e613"; }

.icon-chuli:before {
  content: "\e63a"; }

.icon-zanting:before {
  content: "\e696"; }

.icon-gengduo:before {
  content: "\e61d"; }

.icon-jiantou1:before {
  content: "\e608"; }

.icon-tubiao104:before {
  content: "\e603"; }

.icon-xiaxiantubiao:before {
  content: "\e604"; }

.icon-view:before {
  content: "\e61a"; }

.icon-close-circle:before {
  content: "\e60c"; }

.icon-iconfonticonfontclose:before {
  content: "\e629"; }

.icon-pointerdown:before {
  content: "\e619"; }

.icon-pointerleft:before {
  content: "\e636"; }

.icon-pointerright:before {
  content: "\e637"; }

.icon-pointerup:before {
  content: "\e638"; }

.icon-baocuo:before {
  content: "\e614"; }

.icon-chenggong:before {
  content: "\e62b"; }

.icon-19qijinyanshujutongji07:before {
  content: "\e622"; }

.icon-plus:before {
  content: "\e60d"; }

.icon-trashempty:before {
  content: "\e60e"; }

.icon-duigou:before {
  content: "\e61e"; }

.icon-tijiao:before {
  content: "\e627"; }

.icon-adds:before {
  content: "\e62d"; }

.icon-jia:before {
  content: "\e63b"; }

.icon-xiala:before {
  content: "\e623"; }

.icon-yijianfankui01:before {
  content: "\e616"; }

.icon-arrow-right:before {
  content: "\e609"; }

.icon-jiantou-copy:before {
  content: "\e61b"; }

.icon-shanchu:before {
  content: "\e61f"; }

.icon-iconfonticonfontclose1:before {
  content: "\e60b"; }

.icon-iconfonticonfontroundadd:before {
  content: "\e611"; }

.icon-shangyizhang:before {
  content: "\e605"; }

.icon-xiayizhang:before {
  content: "\e602"; }

.icon-tianjia1:before {
  content: "\e626"; }

.icon-fanhui:before {
  content: "\e606"; }

.icon-search01:before {
  content: "\e628"; }

.icon-xiugai:before {
  content: "\e600"; }

.icon-guifandanxuanweixuanzhong:before {
  content: "\e62a"; }

.icon-guifandaohangshaixuanzhankai:before {
  content: "\e62c"; }

.icon-shenhezhong:before {
  content: "\e62e"; }

.icon-shijian:before {
  content: "\e62f"; }

.icon-wancheng:before {
  content: "\e631"; }

.icon-weitongguo:before {
  content: "\e632"; }

.icon-icchevronleft:before {
  content: "\e620"; }

.icon-icchevronright:before {
  content: "\e621"; }

.icon-shangyiye:before {
  content: "\e615"; }

.icon-fanhui1:before {
  content: "\e635"; }

.icon-bangzhu:before {
  content: "\e639"; }

.icon-tishi:before {
  content: "\e63d"; }

.icon-weixuan2:before {
  content: "\e63f"; }

.icon-rili:before {
  content: "\e625"; }

.icon-chaoshi:before {
  content: "\e617"; }

.icon-danxuankuang:before {
  content: "\e60f"; }

.icon-zhanghuguanli49:before {
  content: "\e60a"; }

/**
 * @description: 标题样式
 * @author: chenshaoting (16/08/01)
 * @update:
 */
body {
  background: #fff; }

xmp {
  margin: 10px 0;
  padding: 0px;
  border: 1px solid #e1e1e1;
  background-color: #efeeef;
  border-radius: 3px;
  font-size: 14px;
  color: #3c3c3c; }

.mg-contents {
  padding-left: 20px; }

/*element: 标题  */
.mg-breadnav {
  position: relative;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom: 2px solid #93c55d;
  padding-left: 20px;
  margin: 10px 0 20px 20px;
  text-align: left;
  font-size: 20px;
  color: #3a3a3a; }

.mg-breadnav .breadnav-triangle {
  position: absolute;
  top: 48px;
  left: 22px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #93c55d; }

.mg-breadnav .title_col0 {
  font-size: 16px; }

.mg-breadnav .title_col1 {
  font-size: 14px; }

.mg-line {
  height: 37px;
  overflow: hidden;
  margin: 15px 0; }

.mg-line .mg-line_seperate {
  float: left;
  border: 1px solid #93c55d;
  margin-top: 17px; }

.mg-line .mg-pack_title {
  float: left;
  font-size: 14px;
  color: #647f47;
  border-radius: 30px;
  padding: 8px 10px;
  background: #e8f5dd;
  cursor: pointer;
  text-align: center;
  margin-left: 10px; }

.mg-line .mg-pack_title:hover {
  background: #8cc152;
  color: #fff; }

.mg-line .mg-info-img {
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer; }

.mg-breadnav .mg-pro-tit {
  float: left; }

.mg-breadnav .mg-pro-but {
  float: right; }

.mg-breadnav .mg-pro-img {
  width: 16px;
  height: 16px;
  float: right;
  margin: 17px 10px 0px 0;
  cursor: pointer; }

/** 混合器 */
.mg-btn {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 6px;
  transition: all .2s ease-in-out;
  outline: none; }
  .mg-btn[disabled] {
    cursor: not-allowed;
    opacity: .65; }

.mg-btn-primary {
  color: #ffffff;
  background-color: #6cb92b;
  border-color: transparent; }
  .mg-btn-primary:hover {
    color: #ffffff;
    background-color: #8cc152;
    border-color: transparent; }
    .mg-btn-primary:hover .btn-arrow-right {
      border-left-color: #8cc152; }
    .mg-btn-primary:hover .btn-arrow-left {
      border-right-color: #8cc152; }
  .mg-btn-primary[disabled]:hover {
    background-color: #6cb92b;
    border-color: transparent; }
    .mg-btn-primary[disabled]:hover .btn-arrow-right {
      border-left-color: #6cb92b; }
    .mg-btn-primary[disabled]:hover .btn-arrow-left {
      border-right-color: #6cb92b; }

.mg-btn-default {
  color: #ffffff;
  background-color: #6c6c6c;
  border-color: transparent; }
  .mg-btn-default:hover {
    color: #ffffff;
    background-color: #858585;
    border-color: transparent; }
  .mg-btn-default[disabled]:hover {
    color: #ffffff;
    background-color: #6c6c6c;
    border-color: transparent; }

/* 按钮形状 */
.mg-btn__rightAngle {
  padding: 3px 32px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0; }
  .mg-btn__rightAngle .btn-arrow, .mg-btn__rightAngle .btn-arrow-right, .mg-btn__rightAngle .btn-arrow-left {
    position: absolute;
    top: -1px;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: all .2s linear; }
  .mg-btn__rightAngle .btn-arrow-right {
    right: -9px;
    border-left: 8px solid #6cb92b; }
  .mg-btn__rightAngle .btn-arrow-left {
    left: -9px;
    border-right: 8px solid #6cb92b; }

.mg-btn-arrow {
  width: 76px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; }

.mg-btn__arrowLeft {
  background-image: url(../img/bg-btn-prev.png); }

.mg-btn__arrowLeft:hover {
  background-image: url(../img/bg-btn-prev-hover.png); }

.mg-btn__arrowRight {
  background-image: url(../img/bg-btn-next.png); }

.mg-btn__arrowRight:hover {
  background-image: url(../img/bg-btn-next-hover.png); }

.mg-btn__circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border-radius: 100%; }
  .mg-btn__circle .iconfont {
    font-size: 21px; }

.mg-btn__ghost {
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 6px;
  color: #6cb92b;
  background-color: #ffffff;
  border-color: #6cb92b; }
  .mg-btn__ghost:hover {
    color: #ffffff;
    background-color: #8cc152;
    border-color: transparent; }
  .mg-btn__ghost[disabled]:hover {
    color: #6cb92b;
    background-color: #ffffff;
    border-color: #6cb92b; }

/** 按钮尺寸 */
.btn-rightAngle-sm {
  padding: 3px 9px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0; }

/**
 * @description: 表单样式
 * @author: chenshaoting (16/07/28)
 * @update:
 */
/*group: 表单样式*/
.mg-form-item {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  background: #fff; }

.mg-form-item .item-label {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  height: auto; }

.mg-form-item .mg-form-control {
  height: 32px;
  padding-left: 15px;
  border: 1px solid #d1d3d2;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #f5f4f4;
  outline: none;
  color: #3a3a3a;
  line-height: 1.5;
  position: initial; }

.mg-form-control {
  height: 32px;
  padding-left: 15px;
  border: 1px solid #d1d3d2;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #f5f4f4;
  outline: none;
  color: #3a3a3a;
  line-height: 1.5;
  position: initial; }

.mg-form-item .mg-form-control:focus {
  border: 1px solid #6cb92b; }

.mg-form-item .mg-form-disabled {
  color: grey; }

.mg-form-item .mg-form-disabled:focus {
  border: 1px solid #d1d3d2; }

.mg-form-item .mg-form-xs {
  width: 190px; }

.mg-form-xs {
  width: 190px; }

.mg-form-item .mg-form-sm {
  width: 300px; }

.mg-form-sm {
  width: 300px; }

.mg-form-item .mg-form-md {
  width: 650px; }

.mg-form-md {
  width: 650px; }

.mg-form-item .mg-form-lg {
  width: 720px; }

.mg-form-lg {
  width: 720px; }

.mg-form-item .mg-form-check {
  border: 1px solid #ff0000; }

.mg-form-check {
  border: 1px solid #ff0000; }

.mg-form-item .mg-form-check:focus {
  border: 1px solid #ff0000; }

.mg-form-check:focus {
  border: 1px solid #ff0000; }

.mg-form-item .mg-item-redWine {
  color: #b00000; }

.mg-item-redWine {
  color: #b00000; }

.mg-form-item .mg-error {
  color: #ff0000; }

.mg-error {
  color: #ff0000; }

/*下拉*/
.mg-form-item .div_radius {
  position: relative; }

.mg-form-item .tag_has {
  cursor: pointer; }

.mg-form-item .downbig {
  display: inline-block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 13px;
  font-size: 22px;
  cursor: pointer; }

.mg-form-item .dropdown {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  border: 1px solid #ccc;
  border-top: 0;
  color: #000;
  height: auto;
  max-height: 151px;
  border-radius: 6px;
  overflow: auto; }

.mg-form-item .dropdown:hover {
  border: 1px solid #6cb92b;
  border-top: 0;
  cursor: pointer; }

.mg-form-item .dropdown li {
  line-height: 30px;
  padding-left: 15px;
  font-size: 14px;
  cursor: pointer; }

.mg-form-item .dropdown li:hover {
  background: #6cb92b;
  color: #fff; }

.mg-form-item .mg-form-control label {
  padding-top: 4px;
  display: inline-block;
  padding-right: 15px; }

.mg-form-item .opt {
  width: 15px;
  height: 15px;
  vertical-align: sub;
  padding-right: 5px; }

.mg-form-item .mg-form-boxs {
  height: auto; }

.mg-form-item .mg-form-boxs label {
  padding: 2px 15px 4px 0; }

.mg-form-item .mg-form-boxs .boxs {
  vertical-align: top;
  margin-top: 4px;
  margin-right: 5px; }

.mg-form-item .mg-form-item .text_area {
  height: auto;
  resize: inherit; }

.mg-form-item .mg-form-control .copyFile {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #8cc152;
  width: 15px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative; }

.mg-form-item .mg-form-control .copyFile:hover {
  color: #6cb92b; }

.mg-form-item .mg-form-control .current-int {
  left: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  opacity: 0; }

.mg-form-item .addradio {
  float: right;
  position: absolute;
  bottom: -2px;
  right: 0px;
  height: 35px;
  padding: 0 10px;
  padding-left: 10px;
  line-height: 33px; }

.mg-form-item .addradio label {
  font-size: 14px; }

.mg-form-item .addradio img {
  width: 15px;
  height: 15px;
  vertical-align: top;
  margin-top: 9px; }

.mg-form-item .mg_xiazai {
  text-decoration: none;
  color: #0072dd;
  float: right;
  font-size: 14px;
  margin-right: 5px; }

.mg-form-item .mg_xiazai:hover {
  text-decoration: underline; }

.mg-form-item .mg-fileContent {
  position: relative;
  margin-top: 10px;
  width: 100px;
  text-align: center; }

.mg-form-item .mg-fileContent img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.mg-form-item .mg-fileContent .mg-fileName {
  width: 100%;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.mg-form-item .mg-fileContent .mg-file-panel {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 0;
  line-height: 28px;
  overflow: hidden;
  transition: height .05s;
  background: rgba(0, 0, 0, 0.5); }

.mg-form-item .mg-fileContent:hover .mg-file-panel {
  height: 30px; }

.mg-form-item .mg-fileContent .mg-file-panel .iconfont {
  float: right;
  margin-right: 5px;
  color: #fff;
  font-size: 22px;
  cursor: pointer; }

.mg-form-item .mg-file-panel .iconfont:hover {
  color: #59c1f9; }

.mg-form-item .fileicon img {
  width: 100px;
  height: 100px;
  margin-left: 0px;
  margin-top: 0px; }

.mg-form-item #delpic {
  width: 24px;
  height: 24px;
  left: 76px;
  top: 1px;
  background: url(../images/gameMgr/del.png) repeat;
  position: absolute;
  visibility: hidden;
  cursor: pointer; }

.mg-form-item .downpic {
  width: 24px;
  height: 24px;
  left: 100px;
  top: 4px;
  background: url(../images/gameMgr/icon_get.png) no-repeat;
  position: absolute;
  visibility: hidden;
  cursor: pointer; }

.mg-form-item .fileicon {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #fff;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px; }

.mg-form-item .uploadFileBtn.tbiFile {
  float: right;
  margin-right: 0px; }

.mg-form-item .uploadFileBtn.tbiFile .iconfont {
  color: #8cc152; }

.mg-form-item .uploadFileBtn.tbiFile .iconfont:hover {
  color: #6cb92b; }

.mg-form-item #attachment1File {
  overflow: hidden; }

.mg_plus_hj {
  position: relative; }

.mg_plus_hj .mg-form-control:hover {
  border: 1px solid #8cc152; }

.mg_plus_hj .copyFile {
  color: #8cc152;
  cursor: pointer; }

.mg_plus_hj .copyFile:hover {
  color: #6cb92b; }

.mg-form-item .uploadFileBtn.tbiFile_hj {
  position: absolute;
  bottom: 3px;
  right: 8px; }

.mg-form-item .mg-img {
  overflow: hidden; }

.mg-form-item .text_area {
  height: 112px; }

.mg-form-item .mg-img div {
  float: left;
  text-align: center; }

.mg-form-item .mg-img img {
  width: 97px;
  padding: 10px 5px 0px 0px; }

.mg-form-item .mg-img span {
  display: block;
  width: 97px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mg-form-item .opts {
  float: left; }

.mg-form-item .opts img {
  width: 15px;
  height: 15px;
  margin-top: 4px; }

.mg-form-control, .mg-form-item .mg_not {
  color: #aca899; }

.table_all {
  overflow-x: auto;
  width: 778px;
  margin: 0 auto;
  padding-top: 25px;
  margin-left: 20px; }

.ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

table {
  background-color: transparent; }

.mg-table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  table-layout: fixed; }
  .mg-table > thead > tr > th,
  .mg-table > thead > tr > td,
  .mg-table > tbody > tr > th,
  .mg-table > tbody > tr > td {
    padding: 9px;
    padding-left: 20px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left; }
    .mg-table > thead > tr > th > input,
    .mg-table > thead > tr > td > input,
    .mg-table > tbody > tr > th > input,
    .mg-table > tbody > tr > td > input {
      margin-right: 15px;
      vertical-align: top; }
    .mg-table > thead > tr > th > img,
    .mg-table > thead > tr > td > img,
    .mg-table > tbody > tr > th > img,
    .mg-table > tbody > tr > td > img {
      vertical-align: middle; }
  .mg-table > thead > tr th {
    color: #ffffff;
    font-weight: normal;
    background-color: #8cc152; }
  .mg-table > thead > tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .mg-table > thead > tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .mg-table > tbody > tr {
    /*&:hover {
        background-color: $table-tr-hover;
      }*/ }
    .mg-table > tbody > tr > td:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .mg-table > tbody > tr > td:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }
    .mg-table > tbody > tr td {
      border-bottom: 1px solid #d1d3d2; }
      .mg-table > tbody > tr td .iconfont {
        padding-right: 10px;
        color: #242424;
        cursor: pointer; }
        .mg-table > tbody > tr td .iconfont:hover {
          color: #6eb92b; }
      .mg-table > tbody > tr td .iconfont:last-child {
        padding-right: 0; }
      .mg-table > tbody > tr td .iconfont.icon-error {
        color: #e4100f;
        cursor: default; }

.table-hover > tbody > tr:hover {
  background-color: #e8f5dd; }

table > tbody > tr.table-error,
table > tbody td.table-error,
table > tbody th.table-error {
  background-color: #fddddd; }

table > tbody > tr.table-info,
table > tbody td.table-info,
table > tbody th.table-info {
  background-color: #edf2ef; }

/**
 * @description: 弹框样式
 * @author: chenshaoting (16/08/01)
 * @update:
 */
/*.mg-dialog{
  display: none;
}*/
.mg-show {
  z-index: 9;
  /* width: 650px;*/
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff; }

.mg-dialog-header {
  width: 100%;
  height: 72px;
  overflow: hidden;
  padding: 23px;
  background: #bcda9a; }

.mg-dialog-title {
  float: left;
  font-size: 16px;
  color: #5a9f0f;
  line-height: 28px; }

.mg-dialog_close {
  float: right;
  width: 40px;
  height: 33px;
  background: url("../img/close_dialog.png") center no-repeat;
  background-size: cover;
  cursor: pointer; }

.mg-dialog-content {
  height: auto;
  overflow: hidden;
  background: #ffffff; }

.mg-dialog-con {
  max-height: 400px;
  margin: 30px;
  overflow-y: auto; }

.mg-dialog-footer {
  width: 100%;
  height: 72px;
  overflow: hidden;
  padding: 23px 140px;
  background: #f3f3f3; }

.mg-dialog-btn {
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 0;
  padding: 0 33px;
  outline: none; }

.mg-dialog-btn.off {
  float: left;
  background: #6c6c6c; }

.mg-dialog-btn.off:hover {
  background: #858585; }

.mg-dialog-btn.determine {
  float: right;
  background: #6cb92b; }

.mg-dialog-btn.determine:hover {
  background: #8cc152; }

.mg-overlay {
  /*display: none;*/
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5; }

/*
处理结果提示信息*/
.mg-infoResult {
  width: 100%;
  text-align: center;
  color: #e06f00;
  font-size: 24px; }

.mg-infoResult .iconfont {
  margin-bottom: 15px;
  font-size: 50px;
  color: #6cb92b; }

.mg-infoResult .iconfont.error {
  color: #b00000; }

.mg-dialog-btn.abtn {
  float: none; }

.mg-prompt .mg-dialog-footer {
  padding: 23px 80px; }

.mg-infoNextStep {
  margin-top: 5px;
  width: 100%;
  text-align: center; }

.mg-infoNextStep a {
  color: #b00000;
  font-size: 20px; }

.mg-infoReturn {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.mg-infoReturn a {
  font-weight: 500;
  color: #09c;
  font-size: 16px; }

/**
 * @description: 工具提示样式
 * @author: chenshaoting (16/08/02)
 * @update:
 */
/*默认向左*/
.mg-tip {
  position: absolute;
  display: block;
  max-width: 500px;
  background-color: #dbebfb;
  border: 1px solid #2b89ea;
  border-radius: 2px; }

/*内容*/
.mg-tip .tip-content {
  position: static;
  width: auto;
  padding: 10px 5px;
  display: block; }

/*箭头*/
.mg-tip .arrow {
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-style: dashed dashed solid dashed;
  border-width: 10px; }

.mg-tip .arrow:after {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-style: dashed dashed solid dashed;
  border-width: 9px; }

/*向上*/
.mg-tip.arrow-top .arrow {
  top: -20px;
  right: 20px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: #2b89ea;
  border-left-color: transparent !important; }

.mg-tip.arrow-top .arrow:after {
  top: -8px;
  left: -9px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: #dbebfb;
  border-left-color: transparent !important; }

/*向右*/
.mg-tip.arrow-right .arrow {
  top: 15px;
  right: -20px;
  left: auto;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  /*border-left-color: #8cc252;*/
  border-left-color: #2b89ea; }

.mg-tip.arrow-right .arrow:after {
  top: -9px;
  left: -10px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: #dbebfb; }

/*向下*/
.mg-tip.arrow-bottom .arrow {
  top: auto;
  right: 20px;
  bottom: -20px;
  border-top-color: #2b89ea;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important; }

.mg-tip.arrow-bottom .arrow:after {
  top: -10px;
  left: -9px;
  border-top-color: #dbebfb;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important; }

/*向左*/
.mg-tip.arrow-left .arrow {
  top: 10px;
  left: -20px;
  border-top-color: transparent !important;
  /*border-right-color: #8cc252;*/
  border-right-color: #2b89ea;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important; }

.mg-tip.arrow-left .arrow:after {
  top: -9px;
  left: -8px;
  border-top-color: transparent !important;
  border-right-color: #dbebfb;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important; }

/*高亮*/
.mg-tip.state-highlight {
  background-color: #ffebd3;
  border: 1px solid #ff8500; }

.mg-tip.state-highlight .arrow {
  border-color: #ff8500; }

.mg-tip.state-highlight .arrow:after {
  content: '';
  border-color: #ffebd3; }

/*高亮2*/
.mg-tip.state-imp {
  background-color: #ecf5e2;
  border: 1px solid #8cc252; }

.mg-tip.state-imp .arrow {
  border-color: #8cc252; }

.mg-tip.state-imp .arrow:after {
  content: '';
  border-color: #ecf5e2; }

.mg-pagination-info {
  text-align: right;
  margin-top: 30px; }

.mg-pagination .page-dropdown {
  border-radius: 6px; }

.mg-pagination > li {
  display: inline;
  position: relative;
  margin-left: 10px; }
  .mg-pagination > li > a {
    padding: 4px 6px;
    line-height: 1.5;
    color: #3a3a3a;
    text-decoration: none;
    transition: all .2s; }
  .mg-pagination > li:first-child > a,
  .mg-pagination > li:last-child > a {
    border: 1px solid #d1d3d2;
    border-radius: 6px; }
    .mg-pagination > li:first-child > a:hover,
    .mg-pagination > li:last-child > a:hover {
      color: #ffffff;
      background: #e7ac33;
      border-color: #da921a; }

.mg-pagination > li.page-prev > a:hover,
.mg-pagination > li.page-next > a:hover {
  color: #da921a; }

.mg-pagination .dropdown-toggle {
  position: relative;
  line-height: 1.5;
  height: 30px;
  padding-left: 10px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #d1d3d2;
  background-color: #f4f4f4;
  outline: none; }
  .mg-pagination .dropdown-toggle > .iconfont {
    position: absolute;
    right: 4px;
    top: 3px; }
  .mg-pagination .dropdown-toggle > span {
    padding-right: 15px; }

.mg-pagination .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 26px;
  width: 93%;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #d1d3d2;
  background-color: #f4f4f4;
  z-index: 99; }
  .mg-pagination .dropdown-menu > li {
    height: 30px;
    line-height: 30px;
    cursor: pointer; }

.mg-pagination li:first-child > a:hover,
.mg-pagination li:last-child > a:hover,
.mg-pagination .dropdown-toggle:hover,
.mg-pagination .dropdown-menu li:hover {
  color: #ffffff;
  background: #e7ac33;
  border-color: #da921a; }

.mg-pagination .dropdown-menu:hover {
  border-color: #da921a; }

.mg-pagination > li:first-child {
  margin-left: 0; }

/**
 * @description: tab切换样式
 * @author: chenshaoting (16/08/02)
 * @update:
 */
.mg-tab .tab-lists {
  height: 32px; }

.mg-tab .tab-item {
  position: relative;
  float: left;
  width: 163px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  border: 1px solid #ff8400;
  cursor: pointer;
  border-right: none; }

.mg-tab .tab-item:last-child {
  border-right: 1px solid #ff8400; }

.mg-tab .tab-item-current {
  border: none;
  background: #ff8400;
  color: #fff; }

.mg-tab .tab-item-current:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ff8400; }
