@charset "UTF-8";
/**
 * @description: 更新公告管理
 * @author: chenshaoting (16/12/19)
 * @update:
 */
.noticeright {
  width: 785px;
  margin-left: 20px; }
  .noticeright .notice_bt {
    margin-left: 0px; }
  .noticeright .notice_header {
    overflow: hidden;
    margin-bottom: 10px; }
    .noticeright .notice_header button {
      float: right; }
  .noticeright .notice_bg th, .noticeright .notice_bg td {
    text-align: center; }

.social_tables .toubu {
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  height: 45px; }

.social_tables .toubu div {
  float: left;
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  text-align: left; }

.social_tables .lis {
  margin-bottom: 20px; }

.social_tables .parent {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  background: #eff0f0;
  border-radius: 6px;
  margin-bottom: 3px; }

.social_tables .parent.selected {
  background: #8cc152; }

.social_tables .parent .lie {
  float: left;
  font-size: 12px;
  color: #333333; }

.social_tables div.lie_01 {
  width: 100px;
  padding-left: 10px;
  float: left;
  font-size: 14px;
  color: #1b1b1b; }

.social_tables div.lie_02 {
  width: 575px;
  float: left;
  font-size: 12px;
  color: #848585; }

.social_tables div.lie_03 {
  width: 80px;
  text-align: center;
  float: right; }

.social_tables .parent.selected div.lie_01,
.social_tables .parent.selected div.lie_02 {
  color: #fff; }

.child_row {
  display: none;
  background: #eff0f0;
  border-radius: 6px; }

.child_row.selected {
  display: block; }

.social_tables {
  margin-top: 40px;
  width: 100%; }

.social_tables .social_jianhao {
  background: url(../img/notice1.png) no-repeat center;
  width: 79px;
  height: 45px;
  cursor: pointer; }

.social_tables .social_jianhao:hover {
  background: url(../img/notice1-hover.png) no-repeat center;
  width: 79px;
  height: 45px;
  cursor: pointer;
  margin-top: 0.1px; }

.social_tables .selected .social_jianhao {
  background: url(../img/notice0.png) no-repeat center; }

.notice_s {
  padding: 20px; }

.notice_x {
  font-size: 12px;
  color: #939494;
  border-top: 1px solid #dddddd;
  height: 34px;
  line-height: 34px;
  text-align: right;
  padding-right: 30px; }

.fudong {
  float: left; }

.fudong_right {
  margin-right: 80px; }

.textss {
  overflow: hidden; }

.changdu {
  width: 540px !important; }

.notices .mg-form-xs {
  width: 230px; }

.notices .dels {
  font-size: 18px;
  color: #111;
  text-align: center; }
