<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹框</title>
    <link rel="stylesheet" href="../css/igop.min.css">
</head>
<body>

<!--大弹框-->
<div class="dialog bigdialog" role="a"><h1>我是大弹框 请点我</h1></div>
<div class="test" role="a">
    <div class="content">
        111切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
    </div>
</div>


<!--大弹框-->
<div class="dialog bigdialog1" role="a2"><h1>我是大弹框 请点我2</h1></div>
<div class="test" role="a2">
    <div class="content">
        2222切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
    </div>
</div>

<!--小弹框  恭喜您！操作成功-->
<div class="dialog smalldialog01" role="a22"><h1>我是小弹框 恭喜您！操作成功</h1></div>
<div class="test" role="a22">
    <div class="mg-infoResult">
        <div class="infoResult-success iconfont icon-wancheng"></div>
        恭喜您！操作成功
    </div>
</div>

<!--小弹框  对不起！操作失败-->
<div class="dialog smalldialog02" role="a222"><h1>我是小弹框 对不起！操作失败</h1></div>
<div class="test" role="a222">
    <div class="mg-infoResult">
        <div class="iconfont icon-shanchu3 error"></div>
        对不起！操作失败
    </div>
</div>

<!--小弹框  只有一个按钮的-->
<div class="dialog smalldialogbtn" role="a2222"><h1>我是小弹框 只有一个按钮的</h1></div>
<div class="test" role="a2222">
    <div class="mg-infoResult">
        <div class="iconfont icon-shanchu3 error"></div>
        对不起！操作失败
    </div>
</div>

<xmp>
        注意：

        1、每一个弹框的
        <div class="dialog smalldialogbtn" role="dialogbtn"><h1>我是小弹框 只有一个按钮的</h1></div>
        <div class="test" role="dialogbtn"></div>
        这两句中的role="dialogbtn"值一定要是一样的

        2、js中的拼接字符串：var str = $(".test[role='" + role +"']").html();
        其中的.test一定要和html中的class一样：<div class="test" role="a2222"></div>

        3、如果需要加多个弹框 例如加大弹框：只需要添加html代码和如下这段js，其中bigdialog1一定要和html对应
        $(".bigdialog1").click(function(){
        role = $(this).attr("role");
        bigdialog("我是大弹框2",role);//todo标题值
        });

        4、弹框上的标题，只需要改dislog.js中的：bigdialog("我是大弹框1",role);

</xmp>

<!--代码片段------------------------------------------------------------------------------------------------------------>
<h3>对应的html:</h3>
<xmp>
    <!--大弹框-->
    <div class="dialog bigdialog" role="a"><h1>我是大弹框 请点我</h1></div>
    <div class="test" role="a">
        <div class="content">
            111切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        </div>
    </div>


    <!--大弹框-->
    <div class="dialog bigdialog1" role="a2"><h1>我是大弹框 请点我2</h1></div>
    <div class="test" role="a2">
        <div class="content">
            2222切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
            切换上传模式数据将会清除，您是否继续？切换上传模式数据将会清除，您是否继续？
        </div>
    </div>

    <!--小弹框  恭喜您！操作成功-->
    <div class="dialog smalldialog01" role="a22"><h1>我是小弹框 恭喜您！操作成功</h1></div>
    <div class="test" role="a22">
        <div class="mg-infoResult">
            <div class="infoResult-success iconfont icon-wancheng"></div>
            恭喜您！操作成功
        </div>
    </div>

    <!--小弹框  对不起！操作失败-->
    <div class="dialog smalldialog02" role="a222"><h1>我是小弹框 对不起！操作失败</h1></div>
    <div class="test" role="a222">
        <div class="mg-infoResult">
            <div class="iconfont icon-shanchu3 error"></div>
            对不起！操作失败
        </div>
    </div>

    <!--小弹框  只有一个按钮的-->
    <div class="dialog smalldialogbtn" role="a2222"><h1>我是小弹框 只有一个按钮的</h1></div>
    <div class="test" role="a2222">
        <div class="mg-infoResult">
            <div class="iconfont icon-shanchu3 error"></div>
            对不起！操作失败
        </div>
    </div>
</xmp>


<h3>对应的js:</h3>
<xmp>
/*弹框出现和隐藏--- start*/
$(function(){
var role;
//大弹框1
$(".bigdialog").click(function(){
    role = $(this).attr("role");
    bigdialog("我是大弹框1",role);//todo标题值
});

//大弹框2
$(".bigdialog1").click(function(){
    role = $(this).attr("role");
    bigdialog("我是大弹框2",role);//todo标题值
});

//小弹框  恭喜您！操作成功
$(".smalldialog01").click(function(){
    role = $(this).attr("role");
    smalldialog("恭喜您！操作成功",role);//todo标题值
});

//小弹框 对不起！操作失败
$(".smalldialog02").click(function(){
    role = $(this).attr("role");
    smalldialog("对不起！操作失败",role);//todo标题值
});

//小弹框 对不起！操作失败
$(".smalldialogbtn").click(function(){
    role = $(this).attr("role");
    smalldialogbtn("只有一个按钮的弹框",role);//todo标题值
});

$("body").on('click', '.mg-dialog_close',function(){
    $(".mg-overlay").remove();
    $('.mg-dialog').remove();
});

//大弹框
function bigdialog(title,role){
    var str = $(".test[role='" + role +"']").html();
    var html ='<div class="mg-overlay"></div>'+
            '<div class="mg-dialog mg-show">'+
            '<div class="mg-dialog-header">'+
            '<div class="mg-dialog-title">'+title+'</div>'+//todo标题值
            '<div class="mg-dialog_close" title="关闭"></div>'+
            '</div>'+
            '<div class="mg-dialog-content mg-dialog-con">'+

            str +   //todo内容值

            '</div>'+
            '<div class="mg-dialog-footer">'+
            '<button class="mg-dialog-btn off">取消</button>'+
            '<button class="mg-dialog-btn determine">确认</button>'+
            '</div>'+
            '</div> ';
    $("body").append(html);
    $(".mg-overlay").show();
    $('.mg-dialog').show();
}


//小弹框模板
function smalldialog(title,role){
    var str = $(".test[role='" + role +"']").html();
    var html ='<div class="mg-overlay"></div>'+
            '<div class="mg-dialog mg-show mg-prompt">'+
            '<div class="mg-dialog-header">'+
            '<div class="mg-dialog-title">'+title+'</div>'+//todo标题值
            '<div class="mg-dialog_close" title="关闭"></div>'+
            '</div>'+
            '<div class="mg-dialog-content mg-dialog-con">'+

            str+  //todo内容值

            '</div>'+
            '<div class="mg-dialog-footer">'+
            '<button class="mg-dialog-btn off">取消</button>'+
            '<button class="mg-dialog-btn determine">确认</button>'+
            '</div>'+
            '</div>';
    $("body").append(html);
    $(".mg-overlay").show();
    $('.mg-dialog').show();
}

//小弹框只有一个按钮的模板
function smalldialogbtn(title,role){
    var str = $(".test[role='" + role +"']").html();
    var html ='<div class="mg-overlay"></div>'+
            '<div class="mg-dialog mg-show mg-prompt">'+
            '<div class="mg-dialog-header">'+
            '<div class="mg-dialog-title">'+title+'</div>'+//todo标题值
            '<div class="mg-dialog_close" title="关闭"></div>'+
            '</div>'+
            '<div class="mg-dialog-content mg-dialog-con">'+

            str+  //todo内容值

            '</div>'+
            '<div class="mg-dialog-footer mg-dialog-footer-btn">'+
                //'<button class="mg-dialog-btn off">取消</button>'+
            '<button class="mg-dialog-btn determine">确认</button>'+
            '</div>'+
            '</div>';
    $("body").append(html);
    $(".mg-overlay").show();
    $('.mg-dialog').show();
}
});

</xmp>
<!--/代码片段----------------------------------------------------------------------------------------------------------->


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/dialog.js"></script>
</body>
</html>