<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <link rel="stylesheet" href="../css/igop.min.css"/>
    <link rel="stylesheet" href="../css/package.css"/>
</head>
<body>
<div id="rightMain">
<div class="package">
	<div style="margin-left:20px;"><img src="../img/logo_issue.jpg"></div>
    <div class="mg-breadnav">
        注册账号<div class="breadnav-triangle"></div>
    </div>
    <div class="package_hed">
        <div class="package_form_fl">
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>账号名称<span class="mg-item-redWine">（20位以内，由英文或数字或下划线组成）</span>:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>公司名称:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>一般纳税人号码:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>营业执照号码:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>开户行名称:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>银行账号:
                </p>
                <input class="mg-form-control mg-form-sm" value=""  />
            </div>
        </div>
        <div class="package_form_fr">
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>密码<span class="mg-item-redWine">（8位及以上，由英文、数字、下划线及特殊字符组成）</span>:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
               <div>
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>税务登记证<span class="mg-item-redWine">（200k以内，支持JPG/JPEG/PNG格式）</span>:
					</p>
					<div class="attachment1File">
                        <div class="mg-form-control mg-form-sm" style="margin-top: 5px; position: relative">
                            <div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <i class="iconfont icon-plus copyFile"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File" style="margin-left: 10px; clear: both"></div>
            </div>
            <div class="mg-form-item mg-form-sm">
               <div>
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>一般纳税人证明扫描件<span class="mg-item-redWine">（200k以内，支持JPG/JPEG/PNG格式）</span>:
					</p>
					<div class="attachment1File">
                        <div class="mg-form-control mg-form-sm" style="margin-top: 5px; position: relative">
                            <div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <i class="iconfont icon-plus copyFile"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File" style="margin-left: 10px; clear: both"></div>
            </div>
            <div class="mg-form-item mg-form-sm">
               <div>
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>营业执照扫描件<span class="mg-item-redWine">（200k以内，支持JPG/JPEG/PNG格式）</span>:
					</p>
					<div class="attachment1File">
                        <div class="mg-form-control mg-form-sm" style="margin-top: 5px; position: relative">
                            <div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <i class="iconfont icon-plus copyFile"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File" style="margin-left: 10px; clear: both"></div>
            </div>
            <div class="mg-form-item mg-form-sm">
               <div>
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>开户许可证<span class="mg-item-redWine">（200k以内，支持JPG/JPEG/PNG格式）</span>:
					</p>
					<div class="attachment1File">
						<div class="mg-form-control mg-form-sm"  style="margin-top: 5px; position: relative">
                            <div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <i class="iconfont icon-plus copyFile"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File" style="margin-left: 10px; clear: both"></div>
            </div>
            <div class="mg-form-item mg-form-sm">
				<p class="item-label mg-form-sm">
					<span class="mg-item-redWine">*</span>联系人手机号码:
				</p>
				<input class="mg-form-control mg-form-sm" value="" />
			</div>
        </div>
		
    </div>
    <div style="clear: both"></div>
    
    
    <!--按钮-->
    <div class="padcage_add_btn">
        <button class="mg-btn mg-btn-default mg-btn__rightAngle bts1">取消</button>
        <button class="mg-btn mg-btn-primary mg-btn__rightAngle bts2">提交</button>
    </div>
</div>
</div>




<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/form.js"></script><!--表单-->

</body>
</html>
