<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>套餐权益展示审批 > 审批操作</title>
    <link rel="stylesheet" href="../css/igop.min.css"/>
    <link rel="stylesheet" href="../css/package.css"/>
</head>
<body>
<div id="rightMain">
<div class="package">
    <div class="mg-breadnav">
        套餐权益展示审批 > 审批操作<div class="breadnav-triangle"></div>
    </div>
    <div class="package_hed">
        <div class="package_form_fl">
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>权益道具:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>套餐:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>套餐归属合作伙伴:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
                <div>
                    <p class="item-label mg-form-sm">授权书<span class="mg-item-redWine">(支持JPG/JPEG/PNG格式,200M以内)</span>：<span class="mg-error">如选择其他合作伙伴的套餐包，请填写授权书</span></p>
                    <div class="attachment1File">
                        <div class="mg-form-control mg-form-sm"
                             style="margin-top: 5px; position: relative">
                            <div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <!--<i class="iconfont icon-plus copyFile"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File" style="margin-left: 10px; clear: both"></div>
                <!--<a href="javascript:;" class="mg_xiazai" >模板下载</a>-->
            </div>
        </div>
        <div class="package_form_fr">
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>内容:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
                <p class="item-label mg-form-sm">
                    <span class="mg-item-redWine">*</span>渠道:
                </p>
                <input class="mg-form-control mg-form-sm" value="" />
            </div>
            <div class="mg-form-item mg-form-sm">
				<p class="item-label mg-form-sm">
					<span class="mg-item-redWine">*</span>提交配置合作伙伴:
				</p>
				<input class="mg-form-control mg-form-sm" value="" />
			</div>
       		<div class="mg-form-item mg-form-sm" style="margin-top:37px;">
                <div>
                    <p class="item-label mg-form-sm"><span class="mg-item-redWine">*</span>权益折扣表:<span class="mg-item-redWine">（支持EXCEL,200K以内）</span>:</p>
                    <div class="attachment1File">
                        <div class="mg-form-control mg-form-sm"
                             style="margin-top: 5px; position: relative">
                            <div id="pluspic1" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File1"
                                 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
                                <!--<i class="iconfont icon-plus copyFile"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="attachment1File1" style="margin-left: 10px; clear: both"></div>
            </div>
        </div>
        
		
    </div>
    <div style="clear: both"></div>
    <div class="package_edit_history">
        <div class="mg-line">
            <div class="mg-line_seperate"  style="width:665px;"></div>
            <div class="mg-pack_title mg-cont">查看流程历史</div>
        </div>
        <div style="display:none;">
            <table class="mg-table table-hover" style="width:780px;">
                <thead>
                    <tr>
                        <th style="width:100px;">任务节点</th>
                        <th style="width:90px;">总时长(h)</th>
                        <th style="width:80px;">提交人</th>
                        <th style="width:120px;">提交时间</th>
                        <th style="width:70px;">操作动作</th>
                        <th style="width:85px;">评审意见</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ellipsis">MM游戏价格审批MM游戏价格审批</td>
                        <td>00小时43分钟</td>
                        <td>sysadmin</td>
                        <td>2016-12-14 15:54:33</td>
                        <td>通过</td>
                        <td class="ellipsis">意见意见意见意见意见意见意见意见</td>
                    </tr>
                    <tr><td colspan="6"><div align="center" style="font-size: 14px;">没有符合条件的数据</div></td></tr>
                </tbody>
            </table>
            <!--分页-->
            <div class="mg-pagination-info">
                <ul class="mg-pagination">
                    <li><a href="#"><i class="iconfont icon-icchevronleft"></i></a></li>
                    <li class="page-prev"><a href="#">上一页</a></li>
                    <li class="page-dropdown">
                        <button class="dropdown-toggle" type="button"><span class="page-per-count">10</span><i class="iconfont icon-triangle-down"></i></button>
                        <ul class="dropdown-menu">
                            <li>10</li>
                            <li>20</li>
                            <li>50</li>
                            <li>100</li>
                        </ul>
                    </li>
                    <li><span class="page-count">10</span>/<span class="total-count">4000</span></li>
                    <li class="page-next"><a href="#">下一页</a></li>
                    <li><a href="#"><i class="iconfont icon-icchevronright"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="mg-form-item mg-form-lg surplus_all" style="width:100%;padding-left:20px;">
		<p class="item-label mg-form-lg" style="width:100%;">
			<span class="mg-item-redWine">*</span>审批意见：<span class="mg-error">你还可以输入<span class="surplus">300</span>个字</span>
		</p>
		<textarea class="mg-form-control mg-form-lg text_area surplus_text" style="width:100%;">AAA</textarea>
	</div>
    
    <!--按钮-->
    <div class="padcage_add_btn">
        <button class="mg-btn mg-btn-default mg-btn__rightAngle bts1">返回</button>
        <div class="padcage_add_btnr">
            <button class="mg-btn mg-btn-default mg-btn__rightAngle">驳回</button>
            <button class="mg-btn mg-btn-primary mg-btn__rightAngle bts2">审批通过</button>
        </div>
    </div>
</div>
</div>




<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/pagination.js"></script><!--分页-->
<script type="text/javascript" src="../js/modalDialog.js"></script><!--弹框-->
<script type="text/javascript" src="../js/form.js"></script><!--表单-->
<script>
        /**
         * 验证多行文本框还能输出多少字符
         * */
        var maxLength = 300,                               // 最多能输入多少个字符
			$txtArea  = $(".surplus_all .surplus_text"),           // 文本域对象
			$countBox = $(".mg-error .surplus");             // 存储还剩多少字符容器
        $countBox.text(maxLength - getStrLength($txtArea[0].value));
        $(".surplus_all").on("keyup",".surplus_text",function(){
            var len = getStrLength(this.value);
            if(len > maxLength){
                this.value = this.value.substring(0,maxLength);
                $countBox.text(0);
            }else{
                $countBox.text(maxLength - len);
            }
        });

        /**
         * 获取字符个数
         * */
        function getStrLength(str) {
            return str.length;
        }
    </script>

</body>
</html>

<xmp>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>套餐权益展示审批 > 审批操作</title>
		<link rel="stylesheet" href="../css/igop.min.css"/>
		<link rel="stylesheet" href="../css/package.css"/>
	</head>
	<body>
	<div id="rightMain">
	<div class="package">
		<div class="mg-breadnav">
			套餐权益展示审批 > 审批操作<div class="breadnav-triangle"></div>
		</div>
		<div class="package_hed">
			<div class="package_form_fl">
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>权益道具:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>套餐:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>套餐归属合作伙伴:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm">
					<div>
						<p class="item-label mg-form-sm">授权书<span class="mg-item-redWine">(支持JPG/JPEG/PNG格式,200M以内)</span>：<span class="mg-error">如选择其他合作伙伴的套餐包，请填写授权书</span></p>
						<div class="attachment1File">
							<div class="mg-form-control mg-form-sm"
								 style="margin-top: 5px; position: relative">
								<div id="pluspic" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File"
									 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
									<!--<i class="iconfont icon-plus copyFile"></i>-->
								</div>
							</div>
						</div>
					</div>
					<div id="attachment1File" style="margin-left: 10px; clear: both"></div>
					<!--<a href="javascript:;" class="mg_xiazai" >模板下载</a>-->
				</div>
			</div>
			<div class="package_form_fr">
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>内容:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>渠道:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm">
					<p class="item-label mg-form-sm">
						<span class="mg-item-redWine">*</span>提交配置合作伙伴:
					</p>
					<input class="mg-form-control mg-form-sm" value="" />
				</div>
				<div class="mg-form-item mg-form-sm" style="margin-top:37px;">
					<div>
						<p class="item-label mg-form-sm"><span class="mg-item-redWine">*</span>权益折扣表:<span class="mg-item-redWine">（支持EXCEL,200K以内）</span>:</p>
						<div class="attachment1File">
							<div class="mg-form-control mg-form-sm"
								 style="margin-top: 5px; position: relative">
								<div id="pluspic1" class="uploadFileBtn tbiFile tbiFile_ting attachment1File" filenum="1" filetype="attachment1File1"
									 style="left: inherit !important; top: 5px !important; right: 0px;margin-right:0;">
									<!--<i class="iconfont icon-plus copyFile"></i>-->
								</div>
							</div>
						</div>
					</div>
					<div id="attachment1File1" style="margin-left: 10px; clear: both"></div>
				</div>
			</div>


		</div>
		<div style="clear: both"></div>
		<div class="package_edit_history">
			<div class="mg-line">
				<div class="mg-line_seperate"  style="width:665px;"></div>
				<div class="mg-pack_title mg-cont">查看流程历史</div>
			</div>
			<div style="display:none;">
				<table class="mg-table table-hover" style="width:780px;">
					<thead>
						<tr>
							<th style="width:100px;">任务节点</th>
							<th style="width:90px;">总时长(h)</th>
							<th style="width:80px;">提交人</th>
							<th style="width:120px;">提交时间</th>
							<th style="width:70px;">操作动作</th>
							<th style="width:85px;">评审意见</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="ellipsis">MM游戏价格审批MM游戏价格审批</td>
							<td>00小时43分钟</td>
							<td>sysadmin</td>
							<td>2016-12-14 15:54:33</td>
							<td>通过</td>
							<td class="ellipsis">意见意见意见意见意见意见意见意见</td>
						</tr>
						<tr><td colspan="6"><div align="center" style="font-size: 14px;">没有符合条件的数据</div></td></tr>
					</tbody>
				</table>
				<!--分页-->
				<div class="mg-pagination-info">
					<ul class="mg-pagination">
						<li><a href="#"><i class="iconfont icon-icchevronleft"></i></a></li>
						<li class="page-prev"><a href="#">上一页</a></li>
						<li class="page-dropdown">
							<button class="dropdown-toggle" type="button"><span class="page-per-count">10</span><i class="iconfont icon-triangle-down"></i></button>
							<ul class="dropdown-menu">
								<li>10</li>
								<li>20</li>
								<li>50</li>
								<li>100</li>
							</ul>
						</li>
						<li><span class="page-count">10</span>/<span class="total-count">4000</span></li>
						<li class="page-next"><a href="#">下一页</a></li>
						<li><a href="#"><i class="iconfont icon-icchevronright"></i></a> </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mg-form-item mg-form-lg surplus_all" style="width:100%;padding-left:20px;">
			<p class="item-label mg-form-lg" style="width:100%;">
				<span class="mg-item-redWine">*</span>审批意见：<span class="mg-error">你还可以输入<span class="surplus">300</span>个字</span>
			</p>
			<textarea class="mg-form-control mg-form-lg text_area surplus_text" style="width:100%;">AAA</textarea>
		</div>

		<!--按钮-->
		<div class="padcage_add_btn">
			<button class="mg-btn mg-btn-default mg-btn__rightAngle bts1">返回</button>
			<div class="padcage_add_btnr">
				<button class="mg-btn mg-btn-default mg-btn__rightAngle">驳回</button>
				<button class="mg-btn mg-btn-primary mg-btn__rightAngle bts2">审批通过</button>
			</div>
		</div>
	</div>
	</div>




	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/pagination.js"></script><!--分页-->
	<script type="text/javascript" src="../js/modalDialog.js"></script><!--弹框-->
	<script type="text/javascript" src="../js/form.js"></script><!--表单-->
	<script>
			/**
			 * 验证多行文本框还能输出多少字符
			 * */
			var maxLength = 300,                               // 最多能输入多少个字符
				$txtArea  = $(".surplus_all .surplus_text"),           // 文本域对象
				$countBox = $(".mg-error .surplus");             // 存储还剩多少字符容器
			$countBox.text(maxLength - getStrLength($txtArea[0].value));
			$(".surplus_all").on("keyup",".surplus_text",function(){
				var len = getStrLength(this.value);
				if(len > maxLength){
					this.value = this.value.substring(0,maxLength);
					$countBox.text(0);
				}else{
					$countBox.text(maxLength - len);
				}
			});

			/**
			 * 获取字符个数
			 * */
			function getStrLength(str) {
				return str.length;
			}
		</script>

	</body>
	</html>

</xmp>
