<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏管理 > 游戏详情</title>
    <link rel="stylesheet" href="../css/igop.min.css"/>
</head>
<body>
<div id="rightMain">
    <div class="mg-breadnav">
        游戏管理 > 游戏详情<div class="breadnav-triangle"></div>
    </div>

    <div class="test">
        <div class="mg-infoResult">
            <div class="infoResult-success iconfont icon-duigou"></div>
            重新发布游戏成功，审核中
        </div>
		<div class="mg-infoNextStep"><a href="javascript:;" style="color:#e06f00;">权益计费点<span style="color:red;">商用</span>后，可在“套餐权益展示配置”界面分渠道配置展示套餐包</a></div>
        <div class="mg-infoReturn"><a href="javascript:;">返回游戏管理</a></div>
    </div>
</div>
</body>
</html>

<xmp>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>游戏管理 > 游戏详情</title>
		<link rel="stylesheet" href="../css/igop.min.css"/>
	</head>
	<body>
	<div id="rightMain">
		<div class="mg-breadnav">
			游戏管理 > 游戏详情<div class="breadnav-triangle"></div>
		</div>

		<div class="test">
			<div class="mg-infoResult">
				<div class="infoResult-success iconfont icon-duigou"></div>
				重新发布游戏成功，审核中
			</div>
			<div class="mg-infoNextStep"><a href="javascript:;" style="color:#e06f00;">权益计费点<span style="color:red;">商用</span>后，可在“套餐权益展示配置”界面分渠道配置展示套餐包</a></div>
			<div class="mg-infoReturn"><a href="javascript:;">返回游戏管理</a></div>
		</div>
	</div>
	</body>
	</html>
</xmp>
